#Data Types and Structures : Assignment !

# Phase - 1 [  Theoretical Questions   ]

**Q:1 What are data structures , and why are they important**

Ans : Data structures are ways to store and organize data in a computer.
They are important because they help in saving, accessing, and managing data easily and quickly.

**Q:2 Explain the difference between mutable and immutable data types with examples**

Ans : Mutable means changeable — we can change the data after creating it.    

  Example: list, dictionary, set.

Immutable means unchangeable — we cannot change the data after creating it.

  Example: int, float, string, tuple.

**Q:3 What are the main differences between lists and tuples in Python**

Ans : List is mutable – we can change it (add, remove, update items).

Example: my_list = [1, 2, 3]

Tuple is immutable – we cannot change it after creating.

Example: my_tuple = (1, 2, 3)

> Lists use [ ] brackets.

> Tuples use ( ) brackets.

**Q:4 Describe how dictionaries store data**

Ans : Dictionaries store data using keys and values.
Each key is linked to a value.
We use the key to get the value.

**Q:5 Why might you use a set instead of a list in Python**

Ans : We use a set when we want to store unique items and do not care about the order.
Sets automatically remove duplicates.

**Q:6 What is a string in Python, and how is it different from a list**

Ans : A string is a group of characters inside quotes.
A list is a group of items inside square brackets.

We can change a list, but we cannot change a string after making it.

**Q:7 How do tuples ensure data integrity in Python**

Ans : Tuples cannot be changed after they are made.
This keeps the data safe and same always.
That’s why they help in data integrity.

**Q:8 What is a hash table, and how does it relate to dictionaries in Python**

Ans : A hash table is a way to store data using a key.
Python dictionaries use hash tables to save and find values fast.
Each key is changed into a number (called hash), and that helps to find the value quickly.

**Q:9 Can lists contain different data types in Python**

Ans : Yes, lists can have different data types.
A list can have numbers, strings, and even other lists together.

**Q:10 Explain why strings are immutable in Python**

Ans : Strings are immutable because we cannot change them after they are made.
If we try to change a string, Python makes a new one instead.

**Q:11 What advantages do dictionaries offer over lists for certain tasks**

Ans : Dictionaries are better when we need to find data using a name or key.
They are faster and more organized for such tasks.
In lists, we use numbers to find data, but in dictionaries, we use keys.

**Q:12 Describe a scenario where using a tuple would be preferable over a list**

Ans : Dictionaries are better when we need to find data using a name or key.
They are faster and more organized for such tasks.
In lists, we use numbers to find data, but in dictionaries, we use keys.

**Q:13 How do sets handle duplicate values in Python**

Ans : Sets do not allow duplicate values.
If we add the same value again, it will be stored only once.

**Q:14 How does the “in” keyword work differently for lists and dictionaries**

Ans : In lists, the “in” keyword checks if a value is inside the list.
In dictionaries, it only checks if a key is there, not the value.|

**Q:15 Can you modify the elements of a tuple? Explain why or why not**

Ans : No, we cannot modify the elements of a tuple.
Because tuples are immutable, which means they cannot be changed after they are made.

**Q:16 What is a nested dictionary, and give an example of its use case**

Ans : A nested dictionary is a dictionary inside another dictionary.
We use it when we want to store detailed or grouped data.

**Q:17 Describe the time complexity of accessing elements in a dictionary**

Ans : The time complexity of accessing elements in a dictionary is O(1) in most cases.
This means we can get the value quickly using the key.

**Q:18 In what situations are lists preferred over dictionaries**

Ans : Lists are better when we just need to store a group of items in order.
We use lists when we don’t need names or keys, only values.

**Q:19 Why are dictionaries considered unordered, and how does that affect data retrieval**

Ans : Dictionaries are called unordered because they do not keep the data in the same order we add it.
But this does not affect data retrieval, because we use keys to get the values, not positions.

**Q:20 Explain the difference between a list and a dictionary in terms of data retrieval.**

Ans : In a list, we get data using the index number.
In a dictionary, we get data using a key.
So, lists use positions, and dictionaries use names to find values.

# Phase - 2 [ Practical Questions ]

In [4]:
# Q:1 Write a code to create a string with your name and print it

name = "Zaid Bin Zaya"
print(name)
print(type(name))

Zaid Bin Zaya
<class 'str'>

In [5]:
# Q:2 Write a code to find the length of the string "Hello World"

text = "Hello World"
length = len(text)
print(length)

11

In [6]:
# Q:3 Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

In [7]:
# Q:4 Write a code to convert the string "hello" to uppercase

text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

In [8]:
# Q:5  Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [9]:
# Q:6 P Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
# Q:7 Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [11]:
# Q:8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [12]:
# Q:9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second = letters[1]
print(second)

b

In [13]:
# Q:10 Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [14]:
# Q:11  Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [15]:
# Q:12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [16]:
# Q:13  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

numbers = (10, 20, 5, 15)
min_num = min(numbers)
print(min_num)

5

In [17]:
# Q:14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [20]:
# Q:15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ("apple", "banana", "kiwi", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

In [21]:
# Q:16  Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [22]:
# Q:17 . Write a code to clear all elements from the set {1, 2, 3, 4, 5}

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [23]:
# Q:18  Write a code to remove the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [24]:
# Q:19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [25]:
# Q:20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
common = set1.intersection(set2)
print(common)

{2, 3}

In [26]:
# Q:21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {
    "name": "Zaid",
    "age": 20,
    "city": "Mumbai"
}
print(my_dict)

{'name': 'Zaid', 'age': 20, 'city': 'Mumbai'}

In [27]:
# Q:22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# Q:23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

person = {'name': 'Alice', 'age': 30}
value = person['name']
print(value)

Alice

In [29]:
# Q:24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# Q:25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key exists")
else:
    print("Key does not exist")

Key exists

In [31]:
# Q:26 Write a code to create a list, a tuple, and a dictionary, and print them all

# Creating a list
my_list = [10, 20, 30]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Zaid', 'country': 'India'}

# Printing them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Zaid', 'country': 'India'}

In [32]:
# Q: 27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result . (replaced)

import random

# Create a list of 5 random numbers between 1 and 100
my_list = random.sample(range(1, 101), 5)

# Sort the list in ascending order
my_list.sort()

# Print the result
print("Sorted list:", my_list)

Sorted list: [1, 9, 27, 41, 66]

In [33]:
# Q:28 Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "fig"]
print("Element at third index:", my_list[3])

Element at third index: date

In [34]:
# Q:29 Write a code to combine two dictionaries into one and print the result.

dict1 = {"name": "Zaid", "age": 20}
dict2 = {"city": "Mumbai", "country": "India"}

# Combine both dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Zaid', 'age': 20, 'city': 'Mumbai', 'country': 'India'}

In [35]:
# Q:30  Write a code to convert a list of strings into a set

my_list = ["apple", "banana", "apple", "orange"]
my_set = set(my_list)

print("Converted set:", my_set)

Converted set: {'orange', 'banana', 'apple'}

# Thank You

**Note : Dear Sir,**

I would like to inform you that in my previous submission, I accidentally uploaded the wrong file for the first assignment. Because of this mistake, I received 0.50 out of 100 marks.

It was my big mistake, and I truly apologize for it.
In this current submission, I am uploading both assignments together — the previous one (correct file) and the new one.

Please give me one chance and kindly accept my assignments.
I will be very grateful.

Thank you for your understanding.

Sincerely,

Name : Zaid Bin Zaya